#sideToolbar-container {
  min-width: 275px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

#sideToolbar-tab-container {
  display: flex;
  width: 100%;
}

.sideToolbar-tab {
  background-color: white;
  width: fit-content;
  padding: 5px;
  border: 1px solid black;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.sideToolbar-tab:hover {
  transform: scale(1.05);
}

.sideToolbar-tab:active {
  transform: scale(0.98);
}
