#editor-container {
  width: 100%;
  background-color: lightcoral;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

#editor-tile-container {
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
  overflow: auto;
}
