#editor-bottom-toolbar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}

#zoom-form {
  display: flex;
  align-items: center;
}

#zoom-form input {
  margin: 0 10px;
}
